In [2]:
items= [[{'city': 'Pau', 'lan': 43.293295, 'lng': -0.36357}, {'city': 'Marseille', 'lan': 43.293551, 'lng': 5.377397}, {...}, {'distance': 5572.500801706894}], 
        [{'city': 'Nice', 'lan': 43.70168, 'lng': 7.260711}, {'city': 'Lyon', 'lan': 45.759132, 'lng': 4.834604}, {...}, {'distance': 6306.2650380290725}]         ]

for i in items:
    print(i[-1]['distance'])
    
sl = sorted(items, key=lambda k: k[-1]['distance'])
print(sl)

5572.500801706894
6306.2650380290725
[[{'city': 'Pau', 'lan': 43.293295, 'lng': -0.36357}, {'city': 'Marseille', 'lan': 43.293551, 'lng': 5.377397}, {Ellipsis}, {'distance': 5572.500801706894}], [{'city': 'Nice', 'lan': 43.70168, 'lng': 7.260711}, {'city': 'Lyon', 'lan': 45.759132, 'lng': 4.834604}, {Ellipsis}, {'distance': 6306.2650380290725}]]

In [9]:
import numpy as np
import pandas as pd
from pandas import DataFrame

df = DataFrame(1, columns=list('abc'),
                  index=list('1234'))
print(df)

f = lambda x: np.log(x)
print(df.applymap(f)) # apply to the whole dataframe
print(np.log(df)) # applied to the whole dataframe
print(df.applymap(np.sum)) # reducing can be applied for rows only

# apply can take different options (vs. applymap cannot)
print(df.apply(f)) # same as applymap
print(df.apply(sum, axis=1))  # reducing example
print(df.apply(np.log, axis=1)) # cannot reduce
print(df.apply(lambda x: [1, 2, 3], axis=1, result_type='expand')) # expand result

   a  b  c
1  1  1  1
2  1  1  1
3  1  1  1
4  1  1  1
     a    b    c
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0
     a    b    c
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0
   a  b  c
1  1  1  1
2  1  1  1
3  1  1  1
4  1  1  1
     a    b    c
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0
1    3
2    3
3    3
4    3
dtype: int64
     a    b    c
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0
   0  1  2
1  1  2  3
2  1  2  3
3  1  2  3
4  1  2  3

In [11]:
items = [[1, 2], [2, 3], [2, 1], [1, 2]]

u = [list(x) for x in set(tuple(x) for x in list( sorted(c) for c in items))]

print(u)

[[1, 2], [2, 3]]

In [12]:
items = [[1, 2], [2, 3], [2, 1], [1, 2]]
result = list( {tuple(sorted(c)) for c in items} )
r=[list(i) for i in result]
print(r)

[[1, 2], [2, 3]]

In [13]:
items = [[1, 2], [2, 3], [2, 1], [1, 2]]
r=[list(i) for i in list({tuple(sorted(c)) for c in items})]
print(r) # [[1, 2], [2, 3]]

[[1, 2], [2, 3]]

In [485]:
items = [[1, 2], [2, 3], [2, 1], [1, 2]]
r = list( sorted(c) for c in items)
print(r)

[[1, 2], [2, 3], [1, 2], [1, 2]]

In [15]:
import pandas as pd
import io

temp=u"""
 ID   Month

    1    Jan-18
    1    Dec-17
    1    Feb-18
    1    Nov-17
    1    Oct-17
    1    Sep-17
    2    Jan-18
    2    Dec-17
    2    Feb-18
    2    Nov-17
    2    Oct-17
    2    Mar-18"""

df =pd.read_csv(io.StringIO(temp), sep=r'\s{1,}', engine='python', encoding = "iso-8859-1")
import pandas as pd

df['Month'] = pd.to_datetime(df['Month'], format='%b-%y')
df2=df.groupby('ID').tail()
print(df2.info())
df2['Month'] = df['Month'].dt.strftime('%b-%y')
print(df2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 11
Data columns (total 2 columns):
ID       10 non-null int64
Month    10 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 240.0 bytes
None
    ID   Month
1    1  Dec-17
2    1  Feb-18
3    1  Nov-17
4    1  Oct-17
5    1  Sep-17
7    2  Dec-17
8    2  Feb-18
9    2  Nov-17
10   2  Oct-17
11   2  Mar-18

C:\Users\dj\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
import pandas as pd

df = pd.DataFrame({'DOB': {0: '26/1/2016', 1: '26/1/2016'}})
print (df.info())
         
df['DOB'] = pd.to_datetime(df.DOB)
print (df.info())
         
df['DOB'] = df['DOB'].dt.strftime('%m/%d/%Y')
print (df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 1 columns):
DOB    2 non-null object
dtypes: object(1)
memory usage: 32.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 1 columns):
DOB    2 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 32.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 1 columns):
DOB    2 non-null object
dtypes: object(1)
memory usage: 32.0+ bytes
None

In [250]:
df = DataFrame({'A': range(0, 5), 'B': np.random.randn(5)})

print(df)

# df = df.assign(temp_f=lambda x: x.A * 9 / 5 + 32)

# print(id(df))
# print(df.index)
# print(df.columns)
# print(df.count())
# print(df.shape)
# print(df.sum())
# print(df.cumsum())
# print(df.describe())


# newdf = df.assign(A=1, inplace=True)
# print(newdf)
# print(id(newdf))
# df.idxmax(), df.max()
# df.info()
# df.describe()
# df.values[0][0]=100

df['A'][0] = 10
print(df)

df.at[0, 'A']=100
print(df)
# df.columns

# df["A"] = 1
# print(df)
# print(id(df))

# Pandas depends upon and interoperates with NumPy, the Python library for fast numeric array computations. 
# For example, you can use the DataFrame attribute .values to represent a DataFrame df as a NumPy array. 
#You can also pass pandas data structures to NumPy methods.

   A         B
0  0  0.892358
1  1 -0.099233
2  2  0.909995
3  3  0.591662
4  4  0.668803
    A         B
0  10  0.892358
1   1 -0.099233
2   2  0.909995
3   3  0.591662
4   4  0.668803
     A         B
0  100  0.892358
1    1 -0.099233
2    2  0.909995
3    3  0.591662
4    4  0.668803

C:\Users\dj\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [276]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(100, 100))


%timeit df.iat[50,50]=50
%timeit df.at[50,50]=50
%timeit df.set_value(50,50,50)
%timeit df.iloc[50,50]=50
%timeit df.loc[50,50]=50

7.06 µs ± 118 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
5.52 µs ± 64.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

C:\Users\dj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

3.68 µs ± 80.8 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
98.7 µs ± 1.07 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
109 µs ± 1.42 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [17]:
import pandas as pd

df = pd.DataFrame({'A' : ['x','x','y','z','z'],
                   'B' : ['p','p','q','r','r']})
print(df)
print(df.info())

# print(type(df.B))
# print(type(df[0][0]))

# df[0]=df[0].astype('str')


# g=df.groupby(['A','B'])
# s=g.size()
# x=s.to_frame("C")

df = df.groupby(['A','B']).B.agg('count').to_frame('c')#.reset_index()

print(df)
print(df.info())

df = df.reset_index()


print(df)
print(df.info())

   A  B
0  x  p
1  x  p
2  y  q
3  z  r
4  z  r
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
A    5 non-null object
B    5 non-null object
dtypes: object(2)
memory usage: 160.0+ bytes
None
     c
A B
x p  2
y q  1
z r  2
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3 entries, (x, p) to (z, r)
Data columns (total 1 columns):
c    3 non-null int64
dtypes: int64(1)
memory usage: 186.0+ bytes
None
   A  B  c
0  x  p  2
1  y  q  1
2  z  r  2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
A    3 non-null object
B    3 non-null object
c    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes
None

In [79]:
data = [['Andrew', '1', '9'], ['Peter', '1', '10'], ['Andrew', '1', '8'], ['Peter', '1', '11'], ['Sam', '4', '9'], ['Andrew', '2', '2']]
print(type(data))



df = pd.DataFrame(data)
print(df)
# print(df.groupby(0))
# print(df)
# print(df.groupby(df.columns[:-1].tolist(), as_index=False).agg(lambda x: x.astype(int).sum()).values.tolist())
print(df.columns.tolist())
print(df.columns)
#sum=lambda x: x.astype(int).sum()
df[2] = pd.to_numeric(df[2])
print(df.groupby([0,1], as_index=False).agg({2: sum}).values.tolist())



# df[2].astype(int).groupby([df[0], df[1]]).sum().reset_index().values.tolist()

# print(df.groupby(df.columns.tolist()).agg(lambda x: x.astype(int).sum()).values.tolist())

# print(df.groupby(df.columns.tolist(),as_index=False).size())

<class 'list'>
        0  1   2
0  Andrew  1   9
1   Peter  1  10
2  Andrew  1   8
3   Peter  1  11
4     Sam  4   9
5  Andrew  2   2
[0, 1, 2]
RangeIndex(start=0, stop=3, step=1)
[['Andrew', '1', 17], ['Andrew', '2', 2], ['Peter', '1', 21], ['Sam', '4', 9]]

In [18]:
df = pd.DataFrame(
    {'A': [1,1,1,2,2,2,3,3,3],
     'B': np.random.random(9),
     'C': np.random.random(9)}
)

print(df)
out = df.groupby('A').agg({'B': [np.mean, np.std], 'C': np.median})
print(out)

# out.columns = ['B_mean', 'B_std', 'C_median']

# print(out)

out.columns = out.columns.map('_'.join)


print(out)

   A         B         C
0  1  0.521635  0.001587
1  1  0.217279  0.863000
2  1  0.621316  0.509952
3  2  0.829125  0.029178
4  2  0.579067  0.188102
5  2  0.962682  0.671521
6  3  0.329051  0.306224
7  3  0.604252  0.473380
8  3  0.318725  0.172562
          B                   C
       mean       std    median
A
1  0.453410  0.210482  0.509952
2  0.790291  0.194734  0.188102
3  0.417343  0.161951  0.306224
     B_mean     B_std  C_median
A
1  0.453410  0.210482  0.509952
2  0.790291  0.194734  0.188102
3  0.417343  0.161951  0.306224

In [19]:
print(np.mean([0.383437, 0.118529, 0.701711]))
print(np.std([0.291998, 0.362185, 0.119367]))
print(np.median([0.846763, 0.134122, 0.959914]))
print(np.mean([0.383437,  0.846763,0.118529,  0.134122,0.701711,  0.959914]))

0.40122566666666665
0.1020284591311006
0.846763
0.5240793333333333

In [6]:
import pandas as pd
from pandas import DataFrame

data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                  'Qu2': [2, 3, 1, 2, 3], 
                  'Qu3': [1, 5, 2, 4, 4]})
print(data)

result = data.apply(pd.value_counts).fillna(0)
print(result)

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4
   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [4]:
import numpy as np

df = pd.DataFrame({'a':[2, np.nan, np.nan, np.nan],
              'b':[np.nan, 5, np.nan, np.nan],
              'c':[np.nan, 55, 13, 14],
              'd':[np.nan, np.nan, np.nan, 4],
              'e':[12, np.nan, np.nan, 22],
          })
print(df)

print(type(df.bfill(1)['a']))

     a    b     c    d     e
0  2.0  NaN   NaN  NaN  12.0
1  NaN  5.0  55.0  NaN   NaN
2  NaN  NaN  13.0  NaN   NaN
3  NaN  NaN  14.0  4.0  22.0
<class 'pandas.core.series.Series'>

In [1]:
import pandas as pd 
df = pd.DataFrame(index=['a', 'b', 'c'], columns=['time', 'date', 'name'])
print(df)

  time date name
a  NaN  NaN  NaN
b  NaN  NaN  NaN
c  NaN  NaN  NaN

In [ ]:
http://strftime.org/
    
# Code 	Meaning 	Example
# %a 	Weekday as locale’s abbreviated name. 	Mon
# %A 	Weekday as locale’s full name. 	Monday
# %w 	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday. 	1
# %d 	Day of the month as a zero-padded decimal number. 	30
# %-d 	Day of the month as a decimal number. (Platform specific) 	30
# %b 	Month as locale’s abbreviated name. 	Sep
# %B 	Month as locale’s full name. 	September
# %m 	Month as a zero-padded decimal number. 	09
# %-m 	Month as a decimal number. (Platform specific) 	9
# %y 	Year without century as a zero-padded decimal number. 	13
# %Y 	Year with century as a decimal number. 	2013
# %H 	Hour (24-hour clock) as a zero-padded decimal number. 	07
# %-H 	Hour (24-hour clock) as a decimal number. (Platform specific) 	7
# %I 	Hour (12-hour clock) as a zero-padded decimal number. 	07
# %-I 	Hour (12-hour clock) as a decimal number. (Platform specific) 	7
# %p 	Locale’s equivalent of either AM or PM. 	AM
# %M 	Minute as a zero-padded decimal number. 	06
# %-M 	Minute as a decimal number. (Platform specific) 	6
# %S 	Second as a zero-padded decimal number. 	05
# %-S 	Second as a decimal number. (Platform specific) 	5
# %f 	Microsecond as a decimal number, zero-padded on the left. 	000000
# %z 	UTC offset in the form +HHMM or -HHMM (empty string if the the object is naive). 	
# %Z 	Time zone name (empty string if the object is naive). 	
# %j 	Day of the year as a zero-padded decimal number. 	273
# %-j 	Day of the year as a decimal number. (Platform specific) 	273
# %U 	Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0. 	39
# %W 	Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0. 	39
# %c 	Locale’s appropriate date and time representation. 	Mon Sep 30 07:06:05 2013
# %x 	Locale’s appropriate date representation. 	09/30/13
# %X 	Locale’s appropriate time representation. 	07:06:05
# %% 	A literal '%' character. 	%