In [335]:
l=[['Southampton', '9', '14', '13'],
['Nottingham Forest', '8', '10', '17'],
['Coventry City', '7', '4', '14'],
['Blackburn Rovers', '4', '6', '14'],
['Newcastle United', '24', '20', '10'],
['FC Wimbledon', '21', '20', '11'],
['Arsenal', '21', '19', '8']]
l

s = sorted(l, key=lambda i: (int(i[1]), int(i[2])), reverse=True)
s

[['Newcastle United', '24', '20', '10'],
 ['FC Wimbledon', '21', '20', '11'],
 ['Arsenal', '21', '19', '8'],
 ['Southampton', '9', '14', '13'],
 ['Nottingham Forest', '8', '10', '17'],
 ['Coventry City', '7', '4', '14'],
 ['Blackburn Rovers', '4', '6', '14']]

In [336]:
def greet_me(**kwargs):
    for key, value in kwargs.items():
        print("{0} = {1}".format(key, value))

greet_me(name="yasoob")

name = yasoob

In [103]:
import numpy as np
import pandas as pd

x = pd.DataFrame([['210123278414410005', '101232784144610006']])
xv = x.values
print(xv, type(xv), xv.shape)

# xv[0][:] = xv[[0][:]][0][0][13:]


xv[0][:] = [xv[0][:]][0][1][13:]
print(xv)

[['210123278414410005' '101232784144610006']] <class 'numpy.ndarray'> (1, 2)
[['10006' '10006']]

In [337]:
import numpy
s = numpy.array(['a', 'b', 'dude'], dtype='object')
s[0] += 'bcdef'

print(type(s[0]))

<class 'str'>

In [146]:
import numpy
s = numpy.array([['210123278414410005', '101232784144610006']], dtype='object')
[[x[13:] for x in s[0]]]

[['10005', '10006']]

In [338]:
import numpy
s = numpy.array([['210123278414410005', '101232784144610006']], dtype='object')
print(s, type(s), s.shape, "...")

for i in range(s.shape[1]):  
    s[0,i] = s[0,i][13:]

print(s, type(s), s.shape, "...")

[['210123278414410005' '101232784144610006']] <class 'numpy.ndarray'> (1, 2) ...
[['10005' '10006']] <class 'numpy.ndarray'> (1, 2) ...

In [ ]:
OverflowError: Python int too large to convert to C long

In [339]:
import numpy as np

arr = np.arange(6).reshape(2, 3)
print(arr)
np.place(arr, arr == 1, -10)
help(np.place)
print(arr)

[[0 1 2]
 [3 4 5]]
Help on function place in module numpy.lib.function_base:

place(arr, mask, vals)
    Change elements of an array based on conditional and input values.

    Similar to ``np.copyto(arr, vals, where=mask)``, the difference is that
    `place` uses the first N elements of `vals`, where N is the number of
    True values in `mask`, while `copyto` uses the elements where `mask`
    is True.

    Note that `extract` does the exact opposite of `place`.

    Parameters
    ----------
    arr : ndarray
        Array to put data into.
    mask : array_like
        Boolean mask array. Must have the same size as `a`.
    vals : 1-D sequence
        Values to put into `a`. Only the first N elements are used, where
        N is the number of True values in `mask`. If `vals` is smaller
        than N, it will be repeated, and if elements of `a` are to be masked,
        this sequence must be non-empty.

    See Also
    --------
    copyto, put, take, extract

    Examples
    --------
    >>> arr = np.arange(6).reshape(2, 3)
    >>> np.place(arr, arr>2, [44, 55])
    >>> arr
    array([[ 0,  1,  2],
           [44, 55, 44]])

[[  0 -10   2]
 [  3   4   5]]

In [297]:
import pandas as pd
i = pd.Index([3, 1, 2, 3, 4, np.nan])
print(i,type(i))
ivc =index.value_counts()
print(ivc, type(ivc))

Float64Index([3.0, 1.0, 2.0, 3.0, 4.0, nan], dtype='float64') <class 'pandas.core.indexes.numeric.Float64Index'>
3.0    2
4.0    1
2.0    1
1.0    1
dtype: int64 <class 'pandas.core.series.Series'>

In [340]:
data = [
    ('di', 'c1', 'avg11'),
    ('di', 'c2', 'stdev12'),
     ('eng', 'c1', 'stdev21'),
     ('eng', 'c2', 'stdev22')]

data

r = {};

for a,b,c in data: 
    r.setdefault(a, {})[b] = c
    
r

{'di': {'c1': 'avg11', 'c2': 'stdev12'},
 'eng': {'c1': 'stdev21', 'c2': 'stdev22'}}