In [13]:
import pandas as pd 
import numpy as np
import io

In [14]:
states = [False, False, True, True]
np.where(states)[0]

array([2, 3], dtype=int64)

In [607]:
import pandas as pd 
   
# dictionary of lists 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"], 
        'degree': ["MBA", "BCA", "M.Tech", "MBA"], 
        'score':[90, 40, 80, 98]} 
  
# creating a dataframe with boolean index   
df = pd.DataFrame(dict, index = [True, False, True, False]) 
  
# accessing a dataframe using .iloc[] function  
print(df)
print(df.index)
df[df.index] #returns only those True

         name  degree  score
True   aparna     MBA     90
False  pankaj     BCA     40
True   sudhir  M.Tech     80
False   Geeku     MBA     98
Index([True, False, True, False], dtype='object')

        name  degree  score
True  aparna     MBA     90
True  sudhir  M.Tech     80

In [449]:
import pandas as pd
import io
from tabulate import tabulate


temp=u"""
id   col_a   col_b            
1    100    1, 2, 3
2    200    1, 2
3    300  3"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine='python', encoding = "iso-8859-1")
# for i in range(len(df)):
#      df.at[i,'col2']=eval(df.at[i,'col2'])

df['col_b'] = df.apply(lambda x: eval(x['col_b']), axis = 1)  
s=df['col_b']
d = pd.get_dummies(s.apply(pd.Series).stack()).sum(level=0)
df = pd.concat([df, d], axis=1); 
print(df)
print('...')
print(df[1.0])
df.loc[df[1.0]==1, ['id', 'col_a', 'col_b']]

   id  col_a      col_b  1.0  2.0  3.0
0   1    100  (1, 2, 3)    1    1    1
1   2    200     (1, 2)    1    1    0
2   3    300          3    0    0    1
...
0    1
1    1
2    0
Name: 1.0, dtype: uint8

   id  col_a      col_b
0   1    100  (1, 2, 3)
1   2    200     (1, 2)

In [280]:
temp=u"""
50col_a  col_b
  0      1
  0      2
  0      3
  1      1
  1      2"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine='python', encoding = "iso-8859-1")
print(df)

df2=df.set_index('col_a')
df2=df2['col_b']

# df = pd.get_dummies(df.set_index('col_a')['col_b'], prefix='', prefix_sep='').max(level=0)
# n = df.set_index('col_a')['col_b'], prefix='', prefix_sep='').max(level=0)
# d=df['col_b']
print(df2)

df3 = pd.get_dummies(df2, prefix='', prefix_sep='').max(level=0)
print(df3)

   col_a  col_b
0      0      1
1      0      2
2      0      3
3      1      1
4      1      2
col_a
0    1
0    2
0    3
1    1
1    2
Name: col_b, dtype: int64
       1  2  3
col_a
0      1  1  1
1      1  1  0

In [11]:
df = pd.DataFrame({
        'A':list('abcdef'),
         'col_1':[np.nan,5,4,5,5,4],
         'C':[7,8,9,4,2,3],
         'col_2':[np.nan,3,5,7,1,np.nan],
         'E':[5,3,6,9,2,4],
         'F':list('aaabbb')
})

str_a = 'df.col_1.isna()'
e = eval(str_a)
print(e)

0     True
1    False
2    False
3    False
4    False
5    False
Name: col_1, dtype: bool

In [94]:
df = pd.DataFrame({"Col": ["hello, I'm today hh hhhh hhhhhhhhhhhhhhh", "Hello World"]})

print(df)
df["Col"] = df["Col"].str.replace(u"h{4,}", "")
print(df)

                                        Col
0  hello, I'm today hh hhhh hhhhhhhhhhhhhhh
1                               Hello World
                     Col
0  hello, I'm today hh
1            Hello World

In [75]:
import pandas as pd
import io

temp=u"""
id datapoint1     datapoint2    datapoint3    datapoint4
1  example.com    example2.com  example.com   example3.com
2. test.com       test.com      test.com      test.com
3. ex.com         ex.com        ex1.com       ex.com
4. te.com         test.com      te.com       test.com"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{1,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)


df2 = df.T

print(df2.columns.names)

# df2.drop_duplicates(inplace=True)
# df2.drop_duplicates(subset='A', keep="last")
# print(df2.T)

    id   datapoint1    datapoint2   datapoint3    datapoint4
0  1.0  example.com  example2.com  example.com  example3.com
1  2.0     test.com      test.com     test.com      test.com
2  3.0       ex.com        ex.com      ex1.com        ex.com
3  4.0       te.com      test.com       te.com      test.com
[None]

In [388]:
import pandas as pd
import io
#HEAT/HOT_WATER
temp=u"""          
created_date    h2o
2015-12-31  169457.0
2016-12-31  155578.0
2017-12-31  152009.0
2018-12-31  153277.0
2019-12-31  76712.0  
"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{1,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)
df = df.set_index('created_date')
print(df)


df.index = pd.to_datetime(df.index)
df[df.index.year != 2019]

  created_date       h2o
0   2015-12-31  169457.0
1   2016-12-31  155578.0
2   2017-12-31  152009.0
3   2018-12-31  153277.0
4   2019-12-31   76712.0
                   h2o
created_date
2015-12-31    169457.0
2016-12-31    155578.0
2017-12-31    152009.0
2018-12-31    153277.0
2019-12-31     76712.0

                   h2o
created_date
2015-12-31    169457.0
2016-12-31    155578.0
2017-12-31    152009.0
2018-12-31    153277.0

In [487]:
import pandas as pd
import io

temp=u"""
Item    Syntax  Date
1   1x12    5/14/2019
2   4x16    5/14/2019
3   32  5/14/2019
4   3x10    5/14/2019"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{1,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)

n=df.Syntax.str.extract(r'(\d{1,}x)?(\d{1,})')
n[0] =n[0].fillna('1x')
df.Syntax=n[0]+n[1]
print(n)
print(df)

   Item Syntax       Date
0     1   1x12  5/14/2019
1     2   4x16  5/14/2019
2     3     32  5/14/2019
3     4   3x10  5/14/2019
    0   1
0  1x  12
1  4x  16
2  1x  32
3  3x  10
   Item Syntax       Date
0     1   1x12  5/14/2019
1     2   4x16  5/14/2019
2     3   1x32  5/14/2019
3     4   3x10  5/14/2019

In [15]:
import numpy as np

temp=u"""
ID      col1           col2 
1    Abc street       2017-07-27 
1    None             2017-08-17 
1    Def street       2018-07-15 
1    None             2018-08-13 
2    fbg street       2018-01-07 
2    None             2018-08-12 
2    trf street       2019-01-15 
"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)

i, rows = pd.factorize([*zip(df.ID, df.col1.replace('None'))])
k, cols = pd.factorize(df.groupby(i).cumcount())

dleft = pd.DataFrame(dict(zip(['ID', 'col1'], zip(*rows))))
drigt = pd.DataFrame(index=dleft.index, columns=np.arange(len(cols)) + 2).add_prefix('col')
drigt.values[i, k] = df.col2.values

dleft.join(drigt)

   ID        col1        col2
0   1  Abc street  2017-07-27
1   1        None  2017-08-17
2   1  Def street  2018-07-15
3   1        None  2018-08-13
4   2  fbg street  2018-01-07
5   2        None  2018-08-12
6   2  trf street  2019-01-15

   ID        col1        col2        col3
0   1  Abc street  2017-07-27  2017-08-17
1   1  Def street  2018-07-15  2018-08-13
2   2  fbg street  2018-01-07  2018-08-12
3   2  trf street  2019-01-15         NaN

In [16]:
import pandas as pd
import io

temp=u"""
c1  c2  c3
0   a   0   textA
1   b   1   textB
2   c   2   textC
"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{1,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)


df2 = pd.concat([df]*2, ignore_index=True)
print(df2)

df3= pd.concat([df, df.iloc[[2]]])
print(df3)

df3=df3.reset_index(drop=True)
print(df3)

  c1  c2     c3
0  a   0  textA
1  b   1  textB
2  c   2  textC
  c1  c2     c3
0  a   0  textA
1  b   1  textB
2  c   2  textC
3  a   0  textA
4  b   1  textB
5  c   2  textC
  c1  c2     c3
0  a   0  textA
1  b   1  textB
2  c   2  textC
2  c   2  textC
  c1  c2     c3
0  a   0  textA
1  b   1  textB
2  c   2  textC
3  c   2  textC

In [18]:
n = pd.Series(pd.date_range(start = '2017-1-1', end = '2018-1-1',  freq = 'b'))
type(n)

r = pd.Series(pd.bdate_range('2017', periods=9, freq='D'))
print(r)

r.dt.day_name()

0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
4   2017-01-05
5   2017-01-06
6   2017-01-07
7   2017-01-08
8   2017-01-09
dtype: datetime64[ns]

0       Sunday
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
8       Monday
dtype: object

In [70]:
temp=u"""
Month_name       CASH/TPA   Total
April            CASH       2184074.0
August           CASH       1780238.0
December         CASH       1176889.0
"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)


df['Month_name']=pd.to_datetime(df['Month_name'], format='%B', errors='coerce').dt.month.map("{:02d}".format)
# df.Month_name = pd.to_datetime(df.Month_name , format='%B',errors='coerce' ).dt.strftime('%m')
print(df)

r=df.at[1, 'Month_name']
print(r)

ts = pd.to_datetime(r, format='%m')
ts.year, ts.month, ts.day
ts.hour, ts.minute, ts.second, ts.microsecond

  Month_name CASH/TPA      Total
0      April     CASH  2184074.0
1     August     CASH  1780238.0
2   December     CASH  1176889.0
  Month_name CASH/TPA      Total
0         04     CASH  2184074.0
1         08     CASH  1780238.0
2         12     CASH  1176889.0
08

(0, 0, 0, 0)

In [614]:
#series to df

addr = pd.Series([
     'Washington, D.C. 20003',
     'Brooklyn, NY 11211-1755',
     'Omaha, NE 68154',
     'Pittsburgh, PA 15211'
])

A
print(addr)
r = addr.str.replace('.', '')
r

regex = (r'(?P<city>[A-Za-z ]+), '      # One or more letters
          r'(?P<state>[A-Z]{2}) '        # 2 capital letters
          r'(?P<zip>\d{5}(?:-\d{4})?)')  # Optional 4-digit extension


e=r.str.extract(regex)
print(e,type(e))

0     Washington, D.C. 20003
1    Brooklyn, NY 11211-1755
2            Omaha, NE 68154
3       Pittsburgh, PA 15211
dtype: object
         city state         zip
0  Washington    DC       20003
1    Brooklyn    NY  11211-1755
2       Omaha    NE       68154
3  Pittsburgh    PA       15211 <class 'pandas.core.frame.DataFrame'>

In [608]:
addr.str.upper()

0     WASHINGTON, D.C. 20003
1    BROOKLYN, NY 11211-1755
2            OMAHA, NE 68154
3       PITTSBURGH, PA 15211
dtype: object

In [318]:
temp=u"""
Item   Description  
1   abc Customer Information abc
1   aaa Customer Information abc
1   bbb Customer Information abc
1   ccc Customer Information abc"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)


df.Description=df.Description.str.split('Customer Information').str.get(0)
#df.Description.str.split('Customer Information').str[0] would work also
print(df)

   Item                   Description
0     1  abc Customer Information abc
1     1  aaa Customer Information abc
2     1  bbb Customer Information abc
3     1  ccc Customer Information abc
   Item Description
0     1        abc
1     1        aaa
2     1        bbb
3     1        ccc

In [207]:
temp=u"""
col1      col2      
 1         10
 2         15
 4         12
 5         23
 6         11
 8         32
 9         12
 11        32
 2         23
 3         21
 4         12
 6         15
 9         12
 10        32"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{1,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)

    col1  col2
0      1    10
1      2    15
2      4    12
3      5    23
4      6    11
5      8    32
6      9    12
7     11    32
8      2    23
9      3    21
10     4    12
11     6    15
12     9    12
13    10    32

In [172]:
temp=u"""
id
1 
2 
3
4
5"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{1,}', engine='python', encoding = "iso-8859-1")
print(df)

   id
0   1
1   2
2   3
3   4
4   5

In [399]:
#✓
import pandas as pd
import io

temp=u"""
time            camera_id
2019-05-06 12:00:00   [cam02]
2019-05-06 13:00:00   []
2019-05-06 14:00:00   [cam01, cam01, cam01, cam02, cam02, cam02, cam...
2019-05-06 15:00:00   [cam02, cam02, cam02, cam02, cam02, cam02, cam...

"""

df =pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine='python', encoding = "iso-8859-1")

print(df)

                  time                                          camera_id
0  2019-05-06 12:00:00                                            [cam02]
1  2019-05-06 13:00:00                                                 []
2  2019-05-06 14:00:00  [cam01, cam01, cam01, cam02, cam02, cam02, cam...
3  2019-05-06 15:00:00  [cam02, cam02, cam02, cam02, cam02, cam02, cam...

In [402]:
#✓
import pandas as pd
import io

temp=u"""
a  b
0  2  2
1  3  3
2  4  4
3  5  5
"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{1,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)

df['a'] = df['a'].map(lambda x: x + 1)
df['a']

   a  b
0  2  2
1  3  3
2  4  4
3  5  5

0    3
1    4
2    5
3    6
Name: a, dtype: int64

In [476]:
import pandas as pd
df = pd.DataFrame({"A": [10,20,30], "B": [20, 30, 10]})

def f(x,y):
    return x*y

print(df)


df['NEW*'] = df.apply(lambda x: f(x['A'], x['B']), axis=1)
print(df)

    A   B
0  10  20
1  20  30
2  30  10
    A   B  NEW*
0  10  20   200
1  20  30   600
2  30  10   300

In [441]:
l=list('aaabbbababbccababacc')
print(l)

df = pd.DataFrame([[x] for x in list('aaabbbababbccababacc')],  columns=['A'])
df.groupby('A').cumcount()
# df.groupby('A').cumsum()

['a', 'a', 'a', 'b', 'b', 'b', 'a', 'b', 'a', 'b', 'b', 'c', 'c', 'a', 'b', 'a', 'b', 'a', 'c', 'c']

0     0
1     1
2     2
3     0
4     1
5     2
6     3
7     3
8     4
9     4
10    5
11    0
12    1
13    5
14    6
15    6
16    7
17    7
18    2
19    3
dtype: int64

In [545]:
import pandas as pd
import io

temp=u"""date  age
2018-04-15  12-20
2018-04-15  2-30
2018-04-18  5-46+
"""

df=pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine="python")
print(df)
a=df["age"].str.split("-", n=2, expand=True) #df
df['age_from']=a[0]
df['age_to']=a[1]

print(df)

         date    age
0  2018-04-15  12-20
1  2018-04-15   2-30
2  2018-04-18  5-46+
         date    age age_from age_to
0  2018-04-15  12-20       12     20
1  2018-04-15   2-30        2     30
2  2018-04-18  5-46+        5    46+

In [265]:

s = pd.Series(list('abcab'))

print(s)

df=pd.get_dummies(s)
print(df)

0    a
1    b
2    c
3    a
4    b
dtype: object
   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
4  0  1  0

In [547]:
import pandas as pd
import io

temp=u"""
    Item                                          Colors
0   ID-1                                          Red, Blue, Green
1   ID-2                                          Red, Blue
2   ID-3                                          Blue, Green
3   ID-4                                          Blue
4   ID-5                                          Red"""

df =pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)


new= pd.concat([df,df.Colors.str.get_dummies(sep=', ')],axis=1)
new

   Item            Colors
0  ID-1  Red, Blue, Green
1  ID-2         Red, Blue
2  ID-3       Blue, Green
3  ID-4              Blue
4  ID-5               Red

   Item            Colors  Blue  Green  Red
0  ID-1  Red, Blue, Green     1      1    1
1  ID-2         Red, Blue     1      0    1
2  ID-3       Blue, Green     1      1    0
3  ID-4              Blue     1      0    0
4  ID-5               Red     0      0    1

In [552]:
# fillna
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [np.nan, 1, 2,np.nan,2,np.nan,np.nan], 
               'B': [10, np.nan, np.nan,5,np.nan,np.nan,7], 
               'C': [1,1,2,2,3,3,3]})
print(df)
l=df.C
df=df.fillna( method='ffill')
print(df)

     A     B  C
0  NaN  10.0  1
1  1.0   NaN  1
2  2.0   NaN  2
3  NaN   5.0  2
4  2.0   NaN  3
5  NaN   NaN  3
6  NaN   7.0  3
     A     B  C
0  NaN  10.0  1
1  1.0  10.0  1
2  2.0  10.0  2
3  2.0   5.0  2
4  2.0   5.0  3
5  2.0   5.0  3
6  2.0   7.0  3

In [66]:
import pandas as pd
import io

temp=u"""
Name  Time              App 
Mike  2019-05-10 21:10  chrome.exe
Mike  2019-05-10 21:10  chrome.exe
Mike  2019-05-10 21:12  chrome.exe
John  2019-05-10 18:09  chrome.exe
John  2019-05-10 18:25  chrome.exe7"""


# print(df.info())
df =pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine='python', encoding = "iso-8859-1")
import pandas as pd

df['Time'] = pd.to_datetime(df['Time'])
print(df)
m = df.groupby(['Name','App']).Time.apply(lambda x: x.diff().dt.seconds < 5*60) #mask for 5 minutes

print(m)

df2=df[~m]
print(df2)


# m2 = df.B.duplicated(keep=False) & (m | m.shift(-1))

   Name                Time          App
0  Mike 2019-05-10 21:10:00   chrome.exe
1  Mike 2019-05-10 21:10:00   chrome.exe
2  Mike 2019-05-10 21:12:00   chrome.exe
3  John 2019-05-10 18:09:00   chrome.exe
4  John 2019-05-10 18:25:00  chrome.exe7
0    False
1     True
2     True
3    False
4    False
Name: Time, dtype: bool
   Name                Time          App
0  Mike 2019-05-10 21:10:00   chrome.exe
3  John 2019-05-10 18:09:00   chrome.exe
4  John 2019-05-10 18:25:00  chrome.exe7

In [192]:
import pandas as pd
import io

temp=u"""
steps
<DIV><P>Another step</P></DIV><DIV><P>A step</P></DIV>
<DIV><P>Another step</P></DIV><DIV><P>A step</P></DIV>"""



df =pd.read_csv(io.StringIO(temp), sep=r'\s{1,}', engine='python', encoding = "iso-8859-1")
import pandas as pd
print(df)

df['Total_Steps']=df['steps'].str.contains('\<Div\>\<P\>').count()
print(df)

                                                  steps
<DIV><P>Another step</P></DIV><DIV><P>A  step</P></DIV>
                step</P></DIV><DIV><P>A  step</P></DIV>
                                                  steps  Total_Steps
<DIV><P>Another step</P></DIV><DIV><P>A  step</P></DIV>            2
                step</P></DIV><DIV><P>A  step</P></DIV>            2

In [616]:
df = pd.DataFrame(
    {'A': [1,1,1,2,2,2,3,3,3],
     'B': np.random.random(9),
     'C': np.random.random(9)}
)

print(df)
out = df.groupby('A').agg({'B': [np.mean, np.std], 'C': np.median})
print(out)

out.columns = out.columns.map('_'.join)


print(out)

   A         B         C
0  1  0.154156  0.055498
1  1  0.258321  0.510772
2  1  0.917265  0.858764
3  2  0.367647  0.081279
4  2  0.856975  0.602369
5  2  0.058046  0.571144
6  3  0.936689  0.501519
7  3  0.397865  0.974847
8  3  0.081413  0.153654
          B                   C
       mean       std    median
A
1  0.443248  0.413802  0.510772
2  0.427556  0.402820  0.571144
3  0.471989  0.432429  0.501519
     B_mean     B_std  C_median
A
1  0.443248  0.413802  0.510772
2  0.427556  0.402820  0.571144
3  0.471989  0.432429  0.501519
[[0.4432476179419716, 0.4138021244524449, 0.5107719158654308], [0.4275558959848292, 0.40281993412112316, 0.5711436947989978], [0.471989108155088, 0.4324291767369348, 0.501519363780406]]

In [404]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],                   
                  index=[4, 5, 6], columns=['A', 'B', 'C'])

print(df)
m=pd.melt(df)
print(m)

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30
  variable  value
0        A      0
1        A      0
2        A     10
3        B      2
4        B      4
5        B     20
6        C      3
7        C      1
8        C     30

In [816]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
print(df)

df.groupby('key').aggregate(['min', np.median, max])

df.groupby('key').aggregate({'data1': ['min','max'],
                             'data2': 'max'})

def f(x):
    return True#x[c1].std() > 4

# apply filter
# df2=df.groupby('key').filter(filter_func, 'data2')
df2=df.groupby('key').filter(lambda x: True)
df2=df.groupby('key').filter(f)
# print(df2)

def fn(x):
    # x is a DataFrame of group values
    x['data1'] /= x['data2'].sum()
    return x['data1']

df3=df.groupby('key').apply(fn)
# print(df3)


L = [0, 1, 0, 1, 2, 0]
df4 = df.groupby(L).sum()
# print(df4)

df5 = df.set_index('key')
mapping = {'A':'kuca', 'B':'juca', 'C':'juca'}
df5 = df5.groupby(mapping).sum()
# print(df5)

def fu(r):
    if(r=='A'):
        return 'A'
    else:
         return str.lower(r)

df6 = df.set_index('key').groupby(fu).mean()
print(df6)

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9
   data1  data2
A    1.5    4.0
b    2.5    3.5
c    3.5    6.0

In [405]:
# df.Date2.dt.to_period('M') - df.Date1.dt.to_period('M')
import pandas as pd
import io

def unnesting(df, explode):
    idx = df.index.repeat(df[explode[0]].str.len())
    df1 = pd.concat([
        pd.DataFrame({x: np.concatenate(df[x].values)}) for x in explode], axis=1)
    df1.index = idx
    return df1.join(df.drop(explode, 1), how='left')

temp=u"""
user_id   end_date  start_date    no
1         2018-03-01  2018-01-01    15
1         2018-04-01  2018-02-01    20
1         2018-05-01  2018-03-01    35
2         2018-07-01  2018-04-01    50
2         2018-07-01  2018-05-01    18
"""
df =pd.read_csv(io.StringIO(temp), sep=r'\s{2,}', engine='python', encoding = "iso-8859-1")
#print(df)

# df['date']=df['start_date']+','+df['end_date']




def f(r):
    ret=pd.date_range(r.start_date, r.end_date, freq='MS', closed=None)
    l=list(set(ret))
    return l

df['date'] = df.apply(f, axis=1)




df.drop(['start_date', 'end_date'], inplace=True, axis=1)
df=unnesting(df,['date'])
df = df[['user_id', 'date', 'no']]
print(df)

   user_id       date  no
0        1 2018-02-01  15
0        1 2018-03-01  15
0        1 2018-01-01  15
1        1 2018-02-01  20
1        1 2018-03-01  20
1        1 2018-04-01  20
2        1 2018-05-01  35
2        1 2018-03-01  35
2        1 2018-04-01  35
3        2 2018-05-01  50
3        2 2018-04-01  50
3        2 2018-06-01  50
3        2 2018-07-01  50
4        2 2018-05-01  18
4        2 2018-06-01  18
4        2 2018-07-01  18